@model CapstoneProject.Models.Salesperson
<div class="page-section">
    <div class="heading-container">
        <h1>Appointments Dashboard</h1>
        <ul>
            <li><a asp-action="Index" asp-controller="Salesperson">Sales Dashboard</a></li>
            <li><a asp-action="CreateAppointments" asp-controller="Salesperson" asp-route-id="@Model.id">Create Appointments</a></li>
        </ul>
    </div>
    @* This is our day column *@
    <div class="calendar-container">
        <div class="row calendar-header">
            <a class="col-2" asp-action="Index" asp-controller="Appointment" asp-route-addDays="@ViewBag.SelectedWeek[0].Date.AddDays(-7).DayOfYear">
                <i class="fas fa-arrow-alt-circle-left fa-3x"></i>
            </a>
            <h2 class="col-8">Calendar for: @ViewBag.SelectedWeek[1].Date.ToString("MM/dd/yyyy") - @ViewBag.SelectedWeek[5].Date.ToString("MM/dd/yyyy")</h2>
            <a class="col-2" asp-action="Index" asp-controller="Appointment" asp-route-addDays="@ViewBag.SelectedWeek[0].Date.AddDays(7).DayOfYear">
                <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
            </a>
        </div>
        <div class="row calendar-body">
            @for (int i = 1; i <= 5; i++)
            {

                //If current day
                @if (@ViewBag.SelectedWeek[i].Date == DateTime.Today)
                {
                    <div class="col-2 calendar-today">
                        <div class="calendar-day-header">
                            <h3>@ViewBag.SelectedWeek[i].Date.DayOfWeek</h3>
                            <h4>@ViewBag.SelectedWeek[i].Date.ToString("MM/dd/yyyy")</h4>
                        </div>
                        <div>
                            @foreach (Appointment appt in Model.Appointments.Where(a => a.AppointmentStart.Date == ViewBag.SelectedWeek[i].Date).OrderBy(a => a.AppointmentStart).ToList())
                            {
                                @if (appt.IsBooked == true)
                                {
                                    <div class="appointment booked">
                                        <a asp-action="Details" asp-controller="Appointment" asp-route-id="@appt.id">
                                            <h4>@appt.AppointmentStart.ToString("h:mm tt") - @appt.AppointmentEnd.ToString("h:mm tt")</h4>
                                            <p>@appt.Project.StreetAddress <br /> @appt.Project.CityAddress , @appt.Project.StateAddress @appt.Project.ZipAddress</p>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="appointment unbooked">
                                        <h4>@appt.AppointmentStart.ToString("h:mm tt") - @appt.AppointmentEnd.ToString("h:mm tt")</h4>
                                        <p>Open appointment</p>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-2 calendar-nottoday">
                        <div class="calendar-day-header">
                            <h3>@ViewBag.SelectedWeek[i].Date.DayOfWeek</h3>
                            <h4>@ViewBag.SelectedWeek[i].Date.ToString("MM/dd/yyyy")</h4>
                        </div>
                        <div>
                            @foreach (Appointment appt in Model.Appointments.Where(a => a.AppointmentStart.Date == ViewBag.SelectedWeek[i].Date).OrderBy(a => a.AppointmentStart).ToList())
                            {
                                @if (appt.IsBooked == true)
                                {
                                    <div class="appointment booked">
                                        <a asp-action="Details" asp-controller="Appointment" asp-route-id="@appt.id">
                                            <h4>@appt.AppointmentStart.ToString("h:mm tt") - @appt.AppointmentEnd.ToString("h:mm tt")</h4>
                                            <p>Booked appointment</p>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="appointment unbooked">
                                        <h4>@appt.AppointmentStart.ToString("h:mm tt") - @appt.AppointmentEnd.ToString("h:mm tt")</h4>
                                        <p>Open appointment</p>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    </div>
