@model CapstoneProject.Models.Salesperson
<div class="page-section">
    <div class="heading-container">
        <h1>Sales Dashboard</h1>
        <ul>
            <li><a asp-action="Edit" asp-route-id="@Model.id">Edit Profile</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-9 page-section">
        @* This is our day column *@
        <div class="calendar-container">
            <div class="row calendar-header">
                <a class="col-2" asp-action="Index" asp-controller="Salesperson" asp-route-addDays="@ViewBag.SelectedWeek[0].Date.AddDays(-7).DayOfYear">
                    <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
                </a>
                <h2 class="col-8">Calendar for: @ViewBag.SelectedWeek[1].Date.ToString("MM/dd/yyyy") - @ViewBag.SelectedWeek[5].Date.ToString("MM/dd/yyyy")</h2>
                <a class="col-2" asp-action="Index" asp-controller="Salesperson" asp-route-addDays="@ViewBag.SelectedWeek[0].Date.AddDays(7).DayOfYear">
                    <i class="fas fa-arrow-alt-circle-right fa-2x"></i>
                </a>
            </div>
            <div id="calendar" class="row calendar-body">
                @for (int i = 1; i <= 5; i++)
                {
                    //If current day
                    @if (@ViewBag.SelectedWeek[i].Date == DateTime.Today)
                    {
                        <div class="calendar-today">
                            <div class="calendar-day-header">
                                <h3>
                                    @ViewBag.SelectedWeek[i].Date.DayOfWeek<br /> @ViewBag.SelectedWeek[i].Date.ToString("MM/dd/yyyy")
                                </h3>
                            </div>
                            <div>
                                @foreach (Appointment appt in Model.Appointments.Where(a => a.AppointmentStart.Date == ViewBag.SelectedWeek[i].Date).OrderBy(a => a.AppointmentStart).ToList())
                                {
                                    @if (appt.IsBooked == true)
                                    {
                                     <a asp-action="Details" asp-controller="Appointment" asp-route-id="@appt.id">
                                        <div class="appointment booked">
                                            <h4>@appt.AppointmentStart.ToString("h:mm") - @appt.AppointmentEnd.ToString("h:mm")</h4>
                                            <p>@appt.Project.StreetAddress</p>
                                        </div>
                                     </a>
                                    }
                                    else
                                    {
                                     <a asp-action="BookOpenAppointment" asp-controller="Appointment" asp-route-id="@appt.id">
                                        <div class="appointment unbooked">
                                            <h4>@appt.AppointmentStart.ToString("h:mm") - @appt.AppointmentEnd.ToString("h:mm")</h4>
                                            <p>Open</p>
                                        </div>
                                     </a>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="calendar-nottoday">
                            <div class="calendar-day-header">
                                <h3>
                                    @ViewBag.SelectedWeek[i].Date.DayOfWeek<br /> @ViewBag.SelectedWeek[i].Date.ToString("MM/dd/yyyy")
                                </h3>
                            </div>
                            <div>
                                @foreach (Appointment appt in Model.Appointments.Where(a => a.AppointmentStart.Date == ViewBag.SelectedWeek[i].Date).OrderBy(a => a.AppointmentStart).ToList())
                                {
                                    @if (appt.IsBooked == true)
                                    {
                                        <div class="appointment booked">
                                            <a asp-action="Details" asp-controller="Appointment" asp-route-id="@appt.id">
                                                <h4>@appt.AppointmentStart.ToString("h:mm") - @appt.AppointmentEnd.ToString("h:mm")</h4>
                                                <p>Booked</p>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-action="BookOpenAppointment" asp-controller="Appointment" asp-route-id="@appt.id">
                                            <div class="appointment unbooked">
                                                <h4>@appt.AppointmentStart.ToString("h:mm") - @appt.AppointmentEnd.ToString("h:mm")</h4>
                                                <p>Open</p>
                                            </div>
                                        </a>
                                    }
                                 }
                                    </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-3 page-section">
        <div class="calendar-header">
            <h2>My Statistics</h2>
        </div>
        <div>
            @*<div style="width: 100%;">
                <canvas id="salesStats"></canvas>
            </div>*@
            <div>
                <div class="data display">
                    <p>$@ViewBag.CurrentMonthSales<sup>.00</sup></p>
                    <p>Trailing 30 Sales</p>
                </div>
                <div class="data display">
                    <p>@ViewBag.CloseRate<sup>%</sup></p>
                    <p>Close Rate</p>
                </div>
                <div class="data display">
                    <p>@ViewBag.OpenOpportunities</p>
                    <p>Open Opportunities</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section">
    <div onclick="Toggle(this)" class="heading-container">
        <h2 id="current-opportunities">Current Opportunities</h2>
        <ul>
            <li><a asp-action="SalespersonCreate" asp-controller="Project" asp-route-id="@Model.id">Create Project</a></li>
        </ul>
    </div>
    <div>
        <div class="row data-header">
            <p class="col-4">Opportunity Name</p>
            <p class="col-2">Estimate</p>
            <p class="col-2">Close Probability</p>
            <p class="col-2"></p>
            <p class="col-2"></p>
        </div>
        @foreach (Project project in Model.Projects.Where(p => p.IsSold == false).ToList())
        {
            <div class="row data-row">
                <p class="col-4">@project.Name</p>
                <p class="col-2">$@Math.Round(@project.Cost).00</p>
                <p class="col-2">@project.CloseNext()%</p>
                <p class="col-2"><a asp-controller="Project" asp-route-id="@project.id" asp-action="Details">Details</a></p>
                <p class="col-2"><a asp-controller="Project" asp-route-id="@project.id" asp-action="ConvertToSale">Convert To Sale</a></p>
            </div>
        }
    </div>
</div>
<script>

    var weeks =
        [
            "This Week",
            "First Previous",
            "Second Previous",
            "Third Previous"
        ];
    var salesPerMonth =
        [
            @ViewBag.ThirdPreviousWeekSales,
            @ViewBag.SecondPreviousWeekSales,
            @ViewBag.FirstPreviousWeekSales,
            @ViewBag.CurrentWeekSales
        ];

var data = {
    labels: weeks,
    datasets: [{
        label: 'Weekly Sales',
        backgroundColor: 'green',
        color: '#555',
        borderColor: 'rgb(255,99,132)',
        data: salesPerMonth
    }]
};
var config = {
    type: 'bar',
    data,
    options: {}
};

    var myChart = new Chart(
        document.getElementById('salesStats'),
        config
    );
</script>
